.header {
    padding: 10px 16px 14px;
    background: royalblue;
    margin: 0 0 20px;
    color: white;
}

.header > * {
    display: inline-block;
    vertical-align: middle;
}

.header-logo {
    width: 50px;
}

.header-title {
    font-size: 1.6rem;
    margin: 0;
}